.catalog {
  padding-bottom: $catalog-gap-vertical;

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, $card-width);
    grid-column-gap: $catalog-gap-horizontal;
    grid-row-gap: $catalog-gap-vertical;
    max-width: $catalog-width;
    justify-content: center;
    margin: 0 auto;
  }
}
