.catalog {
  display: grid;
  justify-content: center;
  padding-bottom: $catalog-gap-vertical;

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, $card-width);
    grid-column-gap: $catalog-gap-horizontal;
    grid-row-gap: $catalog-gap-vertical;
    justify-content: space-around;
    max-width: $catalog-width;
  }

  //&__product-card {
  //  margin-bottom: 50px;
  //}
}
